/*@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');*/
@import url('https://fonts.googleapis.com/css?family=Cinzel:900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');

html, body {
  background-color: #4281A4;
  font-family: 'Montserrat', sans-serif;
  width: 99.3%;
  height: 100%;
}

div {
  position: relative;
  background-color: #9CAFB7;
  color: #FFECD8;
  width: 100%;
  padding: 0.5em;
  left: -5px;
  font-size: 16px;
}

#header {
  color: #D67A75;
  position: relative;
  left: -6px;
  top: -5px;
  border-radius: 0%;
  font-family: 'Cinzel', serif;
}

#header a {
  text-decoration: none;
  color: #D67A75;
}

#header img {
  float: right;
  padding-right: 50px;
}

#header h1 {
  padding-left: 1%;
}

#feedback {
  color: black;
  width: 99.8%;
}

#enter_name, #throw_choice, #game_results, #stats h2, #rules h2{
  margin-top: 5px;
  text-align: center;
}

#player_image {
  padding-top: 3em;
  float: left;
  padding-left: 23em;
}

#npc_image {
  padding-top: 3em;
  float: right;
  padding-right: 23em;
}

#show_rules_button, #show_stats_button {
  position: relative;
  left: -5px;
  font-family: "Montserrat";
  background-color: #CCD5D9;
  color: black;
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
  cursor: pointer;
}

footer {
  background-color: #efefef;
  text-align: center;
  height: 20px;
  padding: 5px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 150;
  margin-top: 50px
}

.content {
  padding-left: 30px;
}

.hidden{
  display: none;
}

.visible{
  display:block;
}

.negative {
  background-color: #edb6b6;
  border-left-style: solid;
  border-color: red;
}

.positive {
  background-color: #abeab6;
  border-left-style: solid;
  border-color: green;
}
